{% extends "base.html" %}

{% block title %}{{ post.title }} - {{ super() }}{% endblock %}

{% block content %}
<article class="box post post-excerpt">
    <header>
        <h2>{{ post.title }}</h2>
        {% if post.author %}
        <p>by <a href="{{ post.author.url }}">{{ post.author.name }}</a></p>
        {% endif %}
    </header>
    <div class="info">
        <span class="date"><span class="month">Jul<span>y</span></span> <span class="day">{{ post.date.strftime('%d') }}</span><span class="year">, {{ post.date.strftime('%Y') }}</span></span>
    </div>
    {{ post.content }}
</article>
{% endblock %}